@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-principal: #73A6F9;
    --cor-secundaria: #ffff;
}
*{
    margin:0;
    padding:0;
    background-color: var(--cor-principal);
}

body{
    display: grid; /*grid vai separando os elementos na tela */
     grid-template-columns: 50% 50%; /* grid vai separando os elementos um ao lado do outro */
     overflow: hidden;
     overflow-y: hidden;
}
<<<<<<< HEAD
h1{
    text-align: center;
    padding: 2rem;
}
=======
>>>>>>> af72efed314874cf831412c2d1e28c925fb01073

.img{
 height: 10px;   
}
.Informacao{
    padding-left: 10rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.Titulo{
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
<<<<<<< HEAD
    font-size: 4.5rem; 
=======
    font-size: 72px; 
>>>>>>> af72efed314874cf831412c2d1e28c925fb01073
}
.Titulo_secundario{
    color: var(--cor-secundaria);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px; 
}
.Botao{
    background-color: var(--cor-secundaria);
    border-radius: 5px;
    border: 2px solid var(--cor-secundaria);
    padding: 0.5em;
    color: var(--cor-principal);
    /* display: block; */
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    width: 50vh;
    height: 5vh;
<<<<<<< HEAD
}
/* Configuração para telas menores */
@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        padding-left: 2rem;
        overflow: auto;
        overflow-y: auto;
        width: 100%;
    }

    .Informacao {
        padding: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .container img {
        max-width: 90%;
        height: auto;
        border-radius: 10px;
    }

    h1 {
        font-size: 1.8rem; /* Ajuste proporcional */
    }

=======
>>>>>>> af72efed314874cf831412c2d1e28c925fb01073
}
